[Unit]
Description=Laim: Local SMTP helper
After=network-online.target nss-lookup.target
Wants=network-online.target

[Service]
# Turn off buffered output to make sure logs appear in a timely manner
Environment=PYTHONUNBUFFERED=1
Type=notify
ExecStart=/usr/bin/python3 /etc/laim/handler.py
Restart=on-failure
SyslogFacility=mail
SyslogIdentifier=laim

[Install]
WantedBy=multi-user.target
