[Unit]
Description=Local SMTP helper
After=network-online.target nss-lookup.target
Wants=network-online.target

[Service]
ExecStart=/opt/venvs/laim/bin/python /etc/laim/handler.py
Restart=on-failure

[Install]
WantedBy=multi-user.target
