#!/usr/bin/make -f

export PYBUILD_NAME=laim
export PYBUILD_INSTALL_ARGS=--install-scripts=/usr/share/laim/bin/
export PYBUILD_TEST_ARGS=tests/ -m "not integration"

%:
	dh $@ --with systemd,python3 --buildsystem=pybuild

override_dh_auto_test:
	dh_auto_test -- --test-pytest
