#!/usr/bin/make -f

export PYBUILD_NAME=laim
export PYBUILD_INSTALL_ARGS=--install-scripts=/usr/share/laim/bin/
export PYBUILD_DISABLE=test/python3

%:
	dh $@ --with systemd,python3 --buildsystem=pybuild

